.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thStyle {
        background: grey;
        border: 1px solid #ddd;
        border-collapse: collapse;
        width: 100%;
        padding: 8px;
    }
.tableStyle  {
        border: 1px solid #ddd;
        border-collapse: collapse;
        width: 100%;
        padding: 8px;
    }
.buttonConfirmStyle {
        background: rgb(0, 128, 0);
        border-collapse: collapse;
        border: none;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white
    }
    
.buttonConfirmStyle:hover {
      background: rgb(0, 178, 0);
      border-collapse: collapse;
      border: none;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      color: white
    }
.buttonAlertStyle {
        background: rgb(197, 0, 0);
        border-collapse: collapse;
        border: none;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white
    }

.buttonAlertStyle:hover{
        background: red;
        border-collapse: collapse;
        border: none;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white
}